@import "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css";

.container {
  margin-top: 4em;
}
.nav-container {
  position: relative;
}

/* .search-field {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
} */

.search-field {
  margin-left: 1.5em;
}

.tab-pane {
  min-height: 10em;

  margin-top: 1em;
  padding: 1em;
}

.articles {
  margin-top: 2em;
  max-width: 100%;
}

.article {
  margin-bottom: 2em;
}

.article-description {
  font-size: 0.9em;
  margin-top: 1.5em;
}

.searchMessage {
  font-style: italic;
  font-weight: 300;
  margin-left: 0.25em;
}
